<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Background</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link rel="stylesheet" href="./static/css/style.css">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./works.html" title="">Works</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12">
                  <h3>Profession</h3>
                  <p style="color:green; font-size:15px;">Experience as an application developer, software development and design using Python, Django, Django Rest Framework, Flask, Fast API, HTML, CSS, JavaScript, Git, MySQL, PostgreSQL, Elastic Search, AWS Services, and Deployment.
                     Very good Extensive knowledge of Django ORM (Object Relational Manager).
                     I worked on writing Django test cases with automation testing using GitHub Actions.
                     I'm proficient in REST APIs and able to develop them with ease.
                     Well experienced in debugging the code to find errors.
                     Extensive experienced in AWS services like Elastic Beanstalk, RDS, S3, and Route 53.
                     I have very good experience in handling model view sets and develop APIs in a single class.
                     Good extensive experience in developing and handling highly interactive web-based applications, especially using Python, Flask, Django, and Fast API.
                     Integrated third party libraries to make project more flexible and use services.
                     Experienced with Software Development Life Cycle, Database Designs, Agile Methodologies, Coding, and IDE's such as Jupiter Notebook, PyCharm, Visual Studio, Atom, and Sublime Text 3.
                     Basic understanding of front-end technologies, such as HTML, CSS, JavaScript, and Bootstrap.
                     Excellent communication, problem solving, and interpersonal skills backed up-by-sound professional ability to work independently as well as a team member.
                     Used Django configuration to manage URLs and application parameters.
                     I worked with Python libraries from the Python Package Index (PyPI).
                     Strong craving to learn the latest in IT and the ability to learn it with ease.
                     Ability to handle multiple tasks and work independently as well as in a team.
                  </p>
                  <h3>Master's</h3>
                  <p style="color:green; font-size:15px;">I graduated from the <a href="https://www.beds.ac.uk/">University of Bedfordshire</a>, Luton, United Kingdom, where I pursued a Master of Science in Computer Science with Placement.
                     Throughout my studies, I have successfully organized my time to complete all my assignments and research according to deadlines. I have been able to maintain a consistent academic profile.
                     Within group assignments, I have taken the lead in ensuring each member of the team is aware of the progress made in relation to our submission date and that each piece of work is completed early in order to meet the final deadline.
                     Successfully managed a project at the University of Bedfordshire for group assignment, with the use of Microsoft Project Tools.
                     Accountability for Project Manager role in Research Methodologies and Project Management Unit.
                     I successfully finished a university project on a <a href="https://www.youtube.com/watch?v=F_Q-lI4PudA">"Water Leakage Detection System"</a>  with a Raspberry Pi 3 using Python coding at <a href="https://excoms.com/">ExComS</a>.
                  </p>
                  <h3>Bachelor's</h3>
                  <p style="color:green; font-size:15px;">I did my undergrad at the <a href="https://www.srmist.edu.in/">SRM Institute of Science and Technology</a> in Kattankulathur, Tamil Nadu, where I pursued Bachelor of Technology in Electronics and Communication Engineering.
                     After my final year, I was awarded a certificate of appreciation for demonstrating the major Project of "Eye Gaze Tracking Method Driven by Raspberry Pi Applicable in Automotive Traffic Safety" at Minor Project Exhibition for accreditation purposes held in 2017.
                     During my second year, I was awarded a certificate of appreciation for demonstrating a mini project of "Wireless Electronic Device Controller" at the Intra-Department Project Exhibition held in 2015.
                  </p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
